<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.banquanao">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BanQuanAo">
        <activity android:name=".activity.CapNhatActivity"></activity>
        <activity android:name=".activity.LichSuMuaHangActivity" />
        <activity android:name=".activity.ChiTietSanPhamActivity" />
        <activity android:name=".activity.DanhMucActivity" />
        <activity android:name=".activity.AoThunActivity" />
        <activity android:name=".activity.AoSoMiActivity" />
        <activity android:name=".activity.QuanJoggerActivity" />
        <activity android:name=".activity.QuanShortActivity" />
        <activity android:name=".activity.Quan_JeansActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>